
.container_div {
    margin-top: 0px;
    background-color: #9f9fa3;
    margin-bottom: 0px;
    border-radius: 5px;
    margin-top: -25px;
}
.bg-01{
    height: 87px;
    background-color:#6766ad;
}
.div-02{
    background-color: #dcd9d6;
    min-height: calc(100vh - 87px);
}
.inner-container{
    border-radius: 5px;
    
    padding: 5px;
}
.single {
    padding: 20px 15px;
    margin-top: 20px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0; 
    height: calc(100vh - 185px);
    border-radius: 5px;
}

.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase; 
    /* display: inline-block; */
}
.single h3.side-title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #ff173c;
    display: block;
    margin-top: 6px; 
}

.single ul {
    margin-bottom: 0;
}

.single li a {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    line-height: 28px;
    display: block;
    text-decoration: none;
}

.single li a:hover {
    
    color: #ff173c;
}

.single li:last-child a {
    
    border-bottom: 0; 
}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
    
    
    
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}
.bg-color{
    background-color: #efefef
}
.chat-heading{
    /* border-radius: 5px; */
    width: 100%;
    background-color: #d4f2f7;
    min-height: 57px;
    margin-bottom: 5px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 4px 7px 12px 0px #a0a0b3;
}
.pad-5{
    padding: 5px;
}
.float-right{
    float: right;
}
.message_container{
    height:auto;
    max-height:100%;
    padding: 0px 6px 0px 0px;
    overflow:auto; 
    margin-bottom: 43px;
    height: calc(100vh - 270px);
}
.chat-div
{
    overflow: hidden;
}
.float-left{
    float: left;
}
.list-unstyled{
    height:auto;
    max-height:calc(100vh - 329px);
    overflow:auto; 
}
.user-register{
    background-color: white;
    margin: 54px -44px;
    height: 87%;
    box-shadow: 4px 7px 46px 0px #100f0f;
    border-radius: 5px;
}
.main{
    background: #366979; 
    min-height: 100%;
}
.register-body{
    /* min-height: calc(100vh - 140px); */
    /* height: 50%; */
    padding: 50px 0px;
    
}
.register-heading{
    height: 29%;
    background-image: url('/images/bg-01.jpg');
    /* filter: brightness(50%); */
    border-radius: 5px 5px 0px 0px;
}


.span-heading{
    font-family: Poppins-Bold;
    font-size: 40px;
    color: #d2f3ff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    display:block;
    
}

.register-form{
    /* padding: 0px 10%; */
    margin: auto;
    width: 80%;
    padding-top: 45px;
    
    /* padding: 50px; */
}
.user-name-area{
    margin: 0;
    padding: 10px;
    color: #fbfbfb;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.messages_bg{
    /* background-color: #b6d1d6; */
    min-height: 80%;
    /* margin-top: 2%; */
    padding-right: 10px;
    background-color: #abbdbd;
    min-height: calc(100vh - 140px);
    border-radius: 5px;
}
.msg-send{
    position: absolute;
    margin-bottom: 10px;
    margin-right: 10px;
    bottom:0;
}
.btn-class{
    height: 34px;
    width: 90px;
}
.user-name-div {
    text-align: center;
    background-color: #0a1b49;
    height: 45px;
}
html, body {
    height: 100%;
    margin: 0px;
}
.badge{
    background-color: #ff0d0d;
}
.alert-warning{
    margin: 5px 20px;
}

.single h3.side-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    display: inline-block;
}
.active_li{
    background-color: #e0e9e9;
}
.button_add {
    float:right;
}
.amsify-suggestags-list{
    background-color: #d1deef;
    width: 300px !important; 
}
.select2{
    width: 100% !important;
}
.group_div{
    padding: 47px 5px 10px 33px;
}
.success_div{
    padding-top: 10%;
}
.form_add_group{
    padding: 0px 25px;
}
.element_list{
    padding: 10px;
}
.nav-justified{
    
    margin-bottom: 18px !important;
}
.success_group_create{
    margin-top: 12px;
}
.button_add{
    padding: 6px 37px;
    margin: 7px 10px;
}
.heading_add_group{
    color:#0b849a;
    padding-bottom: 24px;
}
.chat_user_heading{
    margin-left: 13px;
}
.add_member{
    background-color: #d7e2e4;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.sender{
    color: #4f6c90;
    font-weight: 900;
}
.msg-div{
    box-shadow: 4px 7px 4px 0px #889ab0;
}
.container {
    border: 1px solid #dedede !important;
}
.main-heading{
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    color: #ffffe6;
}
.empty_group_list{
    text-align: center;
    font-size: 25px;
    color: #a4bdce;
}
.add_from_label{
    font-size: 18px;
    color: #5f5ea9;
}
.group_create_form{
    margin: 0px 100px;
}
.btn-submit{
    
    width: 129px
}
.sign_out{
    float: right;
    padding: 20px 27px;
    color: #0b0978;
}
.register_div{
    margin: -19px 140px;
}
.margin-10 {
    margin:10px;
}
.emoji-wysiwyg-editor{
    height: 32.9886px !important;
}
.container img {
    margin-right: 0px;
    float: none;
}
.emoji-menu {
    bottom: 0px;
}
.emoji_div{
    display: inline;
}
.message_view{
    word-break: break-all;
}  
@media only screen and (max-width: 600px) {
    .register_div {
        margin: -23px 20px; 
       }

       .user-register {
        margin: 26px 22px;
       }
    .btn-block{
    display: inline-block;
    }
    .error-div{
        width: 91%;
        margin: 0px 26px;
    }
  }